{% extends 'base.html' %}

{% block content %}
    <div id="changeable">
        <form id="filter_form"
              hx-get="{% url 'statistic:fig_genres_statistic' %}"
              hx-target="#fig-changeable"
              hx-swap="outerHTML"
        >
            <p></p>
            <p>{{ form }}
            <input type="submit" value="Filter" hx-disable>
            </p>

        </form>

        <div id="fig-changeable">
            {% include 'statistic/fig_genres_statistic.html' %}
        </div>
    </div>

{% endblock %}