{% extends 'base.html' %}

{% block content %}
    <p>
    <div class="container">
        <a href="{% url 'account:user_account' %}" class="btn btn-secondary">Back to Account</a>
    </div>
    </p>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-primary btn-lg btn-block"
                        hx-trigger="click"
                        hx-get="{% url 'statistic:genres_statistic' %}"
                        hx-target="#changeable"
                        hx-swap="outerHTML"
                >Genres
                </button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary btn-lg btn-block"
                        hx-trigger="click"
                        hx-get="{% url 'statistic:authors_statistic' %}"
                        hx-target="#changeable"
                        hx-swap="outerHTML"
                >Authors
                </button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary btn-lg btn-block"
                        hx-trigger="click"
                        hx-get="{% url 'statistic:books_read_statistic' %}"
                        hx-target="#changeable"
                        hx-swap="outerHTML"
                >Books read
                </button>

            </div>
            <div class="col-md-3">
                <button class="btn btn-primary btn-lg btn-block"
                        hx-trigger="click"
                        hx-get="{% url 'statistic:general_statistics' %}"
                        hx-target="#changeable"
                        hx-swap="outerHTML"
                >General
                </button>
            </div>

            <div id="changeable">

            </div>

        </div>
    </div>

{% endblock %}
