{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h2>Welcome to your user account page, {{ user.username }}</h2>
        <div class="row mt-4">
            <div class="col-md-4">
                <a href="{% url 'library:library' %}" class="btn btn-primary btn-block">Library</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-success btn-block">My Library</a>
            </div>
            <div class="col-md-4">
                <a href="{% url 'library:add_book' %}" class="btn btn-info btn-block">Add Book</a>
            </div>
        </div>
    </div>
{% endblock %}
